<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687212317780-ahrebfc0ob7e6r51h6j7cp40051bhu6v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687212317780-ahrebfc0ob7e6r51h6j7cp40051bhu6v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>687212317780-iv0jps5umaaa2pluirnn86hac3i314fc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4LoCktzWSKP73T6FHqMc7BJAyCyrAFao</string>
	<key>GCM_SENDER_ID</key>
	<string>687212317780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.majeltechnologies.iat</string>
	<key>PROJECT_ID</key>
	<string>locatemydog-17a7b</string>
	<key>STORAGE_BUCKET</key>
	<string>locatemydog-17a7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687212317780:ios:f3fd04677973c6935cb1c1</string>
	<key>DATABASE_URL</key>
	<string>https://locatemydog-17a7b.firebaseio.com</string>
</dict>
</plist>